logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
public/build/
npm-debug.log*
config/*.local.*
public/*
!public/*.html
!public/*.ico
!public/img
!public/fonts
.idea
!public/*.ico
!public/js/angular-datetime-picker.js
!public/js/bootstrap-datetimepicker.js
!public/js/filesaver.min.js
!public/js/sweetalert.min.js
!public/css/bootstrap-datetimepicker.css
!public/css/sweetalert.css
!public/css/sweetalert-override.css
!public/css/fonts/glyphicons.css
!public/css/fonts/glyphicons-halflings-regular.eot
!public/css/fonts/glyphicons-halflings-regular.svg
!public/css/fonts/glyphicons-halflings-regular.ttf
!public/css/fonts/glyphicons-halflings-regular.woff
!public/css/fonts/glyphicons-halflings-regular.woff2
