$new-height: 64px;

.admin > .list {
  margin-top: $new-height;
}

.admin {
  $tabs-height: 49px;
  $search-height: 67px;

  .head {
    padding-left: 72px;
  }

  .list {
    .search {
      background-color: #7B1FA2;
      height: $search-height;
      padding-left: 20px;

      i.material-icons, input {
        color: $white;
      }

      input, .mdl-textfield__label {
        width: calc(100% - 20px);
      }

      .mdl-textfield__label:after {
        background-color: $white;
      }
    }
  }

  .mdl-tabs__tab-bar {
    background-color: #7B1FA2;
  }

  .mdl-tabs__tab, .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
    color: $white;
  }

  .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    background-color: $white;
  }

  .users {
    .list {
      border-right: 1px solid #E0E0E0;
      height: calc(100vh - #{$header-height} - #{$tabs-height} -  #{$search-height});
      overflow-y: auto;
      background-color: $white;
      position: relative;

      .user {
        padding: 16px 0 16px 24px;
        min-height: 40px;
        border-bottom: 1px solid #F5F5F5;
        position: relative;

        .profilepicture {
          display: inline;
          float: left;
          margin-right: 24px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }

        div {
          display: inline;
        }

        .name {
          letter-spacing: 0.3px;
          font-weight: 500;
          margin-right: 5px;
          line-height: 40px;

          a {
            color: $dark-gray;
            text-decoration: none;
          }
        }

        .menu-more {
          position: absolute;
          right: 10px;
        }
      }

      @media (max-width: 839px) {
        .add {
          position: fixed;
          bottom: 16px;
          right: 16px;
        }
      }

      @media (min-width: 840px) {
        .add {
          position: fixed;
          bottom: 16px;
          left: calc(16.6666667% - 56px - 21px);
        }
      }

      .dummy {
        height: 64px;
      }
    }
  }

  .groups {
    .list {
      border-right: 1px solid #E0E0E0;
      height: calc(100vh - #{$header-height} - #{$tabs-height} -  #{$search-height});
      overflow-y: auto;
      background-color: $white;
      position: relative;

      .group {
        padding: 16px 0 41px 24px;
        min-height: 40px;
        border-bottom: 1px solid #F5F5F5;

        .name {
          letter-spacing: 0.3px;
          font-weight: 500;
          margin-right: 5px;
          line-height: 40px;

          a {
            color: $dark-gray;
            text-decoration: none;
          }

          span {
            color: $lightgray;
            margin-left: 5px;
          }
        }

        .members {
          .member {
            .profilepicture {
              display: inline;
              float: left;
              margin-right: 4px;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: cover;
            }
          }
        }
      }

      @media (max-width: 839px) {
        .add {
          position: fixed;
          bottom: 16px;
          right: 16px;
        }
      }

      @media (min-width: 840px) {
        .add {
          position: fixed;
          bottom: 16px;
          left: calc(16.6666667% - 56px - 21px);
        }
      }

      .dummy {
        height: 64px;
      }
    }
  }
}

.download-log {
  input {
    display: none;
  }
}