<!-- Profile -->
<div ng-controller="HomeController">
  <div ng-show="Firebase.user_id != null" class="chat mdl-layout mdl-js-layout">
    <div class="mdl-layout__drawer {{ (my_profile_visible) ? 'is-visible' : '' }} my_profile" aria-hidden="{{ (my_profile_visible) ? 'true' : 'false' }}">
      <div class="presentation">
        <img class="background_picture" ng-src="{{ getProfilePicture(Firebase.users[Firebase.user_id]) }}" />
        
        <div class="title">
          MY PROFILE
          <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="toggleEditProfile()">
            <i class="material-icons">edit</i>
          </button>
        </div>
        
        <div class="profile_picture">
          <img class="profile_picture" ng-src="{{ getProfilePicture(Firebase.users[Firebase.user_id]) }}" />
          <div ng-show="editing_profile" class="edit"><a href="" ng-click="selectProfilePicture()">edit</a></div>
          
          <form action="">
            <input id="profile_picture_file" type="file" accept="image/*,capture=camera" onchange="angular.element(this).scope().uploadProfilePicture(event)">
          </form>
          
        </div>
       
        <div ng-show="!editing_profile" class="name">{{ (Firebase.users[Firebase.user_id].name != '') ? Firebase.users[Firebase.user_id].name : '[edit your name]' }}</div>
        <input ng-show="editing_profile" type="text" class="mdl-textfield__input name" ng-model="Firebase.users[Firebase.user_id].name" placeholder="Type here..." ng-keypress="editProfileConfirm($event)">
        <div class="email">{{ Firebase.users[Firebase.user_id].email }}</div>
      </div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href=""><i class="material-icons">question_answer</i> Support</a>
        <a class="mdl-navigation__link" href=""><i class="material-icons">lock</i> Privacy Policy</a>
        <a class="mdl-navigation__link" href=""><i class="material-icons">description</i> Terms of Use</a>
        <a class="mdl-navigation__link sign_out" href="" ng-click="Firebase.signOut()"><i class="material-icons">power_settings_new</i> Sign out</a>
      </nav>
    </div>
    
    
    <!-- Main panel -->
    <main class="mdl-layout__content">
      <div class="mdl-grid mdl-grid--no-spacing">
        <div ng-show="Firebase.users[Firebase.user_id].admin" class="admin mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-phone mdl-cell--hide-tablet">
          <div class="head">
            Manage
          </div>
          <div class="list">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
              <div class="mdl-tabs__tab-bar">
                  <a href="#users-panel" class="mdl-tabs__tab is-active" ng-click="getAllUsers()">Users</a>
                  <a href="#groups-panel" class="mdl-tabs__tab">Groups</a>
              </div>
              <div class="mdl-tabs__panel is-active users" id="users-panel">
                <div class="list">
                  <div ng-repeat="u in Firebase.users" class="user">
                    <img class="profilepicture" ng-src="{{ getProfilePicture(u) }}" />
                    <div class="name">
                      <a href="" ng-click="showProfile(u.user_id)">{{ u.name }}</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mdl-tabs__panel groups" id="groups-panel">
                <div class="list">
                  <div ng-repeat="g in Firebase.groups" class="group">
                    <div class="name">
                      {{ g.name }}
                      <span>{{ g.members_count }}/{{ Firebase.max_members_per_group }}</span>
                    </div>
                    <div class="members">
                      <div class="member" ng-repeat="user_id in g.members">
                        <img ng-src="{{ getProfilePicture(Firebase.users[user_id]) }}" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="messages mdl-cell mdl-cell--{{ (!Firebase.users[Firebase.user_id].admin) ? '10' : '8' }}-col-desktop mdl-cell--12-col-phone mdl-cell--12-col-tablet">
          <div class="head {{ (Firebase.users[Firebase.user_id].admin) ? 'is_admin' : '' }}">
            {{ Firebase.groups[Firebase.users[Firebase.user_id].group_id].name }}
            
            <button id="menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon menu-lower-right">
              <i class="material-icons">more_vert</i>
            </button>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-lower-right">
              <li class="mdl-menu__item" ng-click="downloadLog()">Download log</li>
            </ul>
          </div>
          <div class="list" id="messages_list">
            <div ng-repeat="m in messages" class="message b-{{ $index % 4 }}">
              <img class="profilepicture" ng-src="{{ getProfilePicture(Firebase.users[m.user_id]) }}" />
              <div class="name c-{{ Firebase.users[m.user_id].color }}">
                <a href="" ng-click="showProfile(m.user_id)">{{ Firebase.users[m.user_id].name }}</a>
              </div>
              <div class="when">
                {{ m.when | showTime }}
              </div>
              <div class="text">
                {{ m.text }}
              </div>
            </div>
          </div>
          <div class="new">
            <textarea placeholder="Type here..." ng-model="new_message" ng-keypress="messageKeypressed($event)"></textarea>
            <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="sendMessage(new_message)" ng-disabled="sending_message">
              <i class="material-icons">send</i>
            </button>
          </div>
        </div>
        <div class="members mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-phone mdl-cell--hide-tablet">
          <div class="head">
            Group Users
          </div>
          <div class="list">
            <div ng-repeat="user_id in Firebase.groups[Firebase.users[Firebase.user_id].group_id].members" class="member b-{{ $index % 4 }}">
              <img class="profilepicture" ng-src="{{ getProfilePicture(Firebase.users[user_id]) }}" />
              <div class="name c-{{ Firebase.users[user_id].color }}">
                <a href="" ng-click="showProfile(user_id)">{{ Firebase.users[user_id].name }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="mdl-layout__obfuscator {{ (my_profile_visible) ? 'is-visible' : '' }}" ng-click="showMyProfile(false)"></div>
  </div>
</div>