$white: #FFFFFF;
$dark-gray: #757575;
$deeppurple: #7B1FA2;
$lightgray: #BDBDBD;
$lightergray: #EEEEEE;
$lightblue: #05ACF5;
$red: #F44336;
$pink: #E91E63;
$purple: #9C27B0;
$indigo: #3F51B5;
$blue: #448AFF;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$lightgreen: #8BC34A;
$lime: #CDDC39;
$yellow: #FFEB3B;
$amber: #FFC107;
$orange: #FF9800;
$deeporange: #FF5722;
$brown: #795548;
$bluegrey: #607D8B;


// Colors
.c-red {
  color: $red;
}

.c-pink {
  color: $pink;
}

.c-purple {
  color: $purple;
}

.c-deeppurple {
  color: $deeppurple;
}

.c-indigo {
  color: $indigo;
}

.c-blue {
  color: $blue;
}

.c-lightblue {
  color: $lightblue;
}

.c-cyan {
  color: $cyan;
}

.c-teal {
  color: $teal;
}

.c-green {
  color: $green;
}

.c-lightgreen {
  color: $lightgreen;
}

.c-lime {
  color: $lime;
}

.c-yellow {
  color: $yellow;
}

.c-amber {
  color: $amber;
}

.c-orange {
  color: $orange;
}

.c-deeporange {
  color: $deeporange;
}

.c-brown {
  color: $brown;
}

.c-bluegrey {
  color: $bluegrey;
}