$black: rgba(0, 0, 0, 0.87);
$violet: #7B1FA2;

.sweet-alert {
  background-color: white;

  h2 {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .005em;
    text-align: left;
  }

  p {
    margin: 0.8em 0 1.6em;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 1.6em;
    color: $black;
    text-align: left;
  }

  input {
    margin: 0;
    border: none;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    font-size: 16px;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
  }

  input:focus {
    outline: none;
    box-shadow: 0 0 0 #C4E6F5;
    border: none;
    border-bottom: 1px solid #7B1FA2;
  }

  button, button.cancel, button.confirm {
    display: inline-block;
    margin: 0;
    background: 0 0;
    border: none;
    border-radius: 2px;
    position: relative;
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
  }

  button, button.cancel {
    color: $black;
  }

  button.confirm {
    color: $violet;
  }

  button:hover, button.cancel:hover, button.confirm:hover {
    background-color: rgba(158, 158, 158, .2);
  }

  .sa-button-container {
    margin-top: 40px;
  }

  .sa-icon.sa-warning {
    margin: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    border: 0;
  }
}